@if(PersonalRecords != null && PersonalRecords.Count() > 0)
{
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Puzzle</th>
            <th scope="col">Single</th>
            <th scope="col">Average</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var best in PersonalRecords)
            {
                <tr>
                    <td><span class="@CubeIcons.Css(best.Puzzle)"></span> @best.Puzzle</td>
                    <td>@best.Single</td>
                    <td>@best.Average</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>
        <p>No personal records loaded.</p>
    </div>
}

@code {
    [Parameter]
    public List<PersonalRecord> PersonalRecords { get; set; }
    [Parameter]
    public EventCallback<List<PersonalRecord>> PersonalRecordsChanged { get; set; }
}