@page "/clear"
@inject ILocalStorage Store

<h4>Clear</h4>

<button class="btn btn-danger" type="button" @onclick="ClearAllData">Clear</button>

@code {
    private async Task ClearAllData()
    {
        await Store.ClearAllDataAsync();
    }
}