@page "/"

<div class="jumbotron">
  <h1 class="display-5"><span class="oi oi-clock" aria-hidden="true"></span> TimeCalc</h1>
  <p class="lead">A handy app to help keep track of solving averages on the fly.</p>
</div>