@page "/"

<div class="jumbotron">
  <h1 class="display-5"><img src="icon-512-alpha-70.png"> TimeCalc</h1>
  <p class="lead text-center">A handy app to help keep track of speed cubing averages on the fly.</p>
</div>
<div>
  <ul>
    <li>Load PBs from official WCA</li>
    <li>Current average as you solve</li>
    <li>See what you need for a new PB</li>
  </ul>
</div>