@page "/"

<div class="jumbotron">
  <h1 class="display-5"><span class="oi oi-clock" aria-hidden="true"></span> TimeCalc</h1>
  <p class="lead">A handy app to help keep track of solving averages on the fly.</p>
</div>
<div>
  <ul>
    <li>Load PBs from official WCA</li>
    <li>Current average as you solve</li>
    <li>See what you need for a new PB</li>
    <li><em>All data stored on your device</em></li>
  </ul>
</div>