@page "/pbs"

<h4>Personal Bests</h4>

<WcaHeader @ref="wcaHeader" />
<PBList @ref="pbList" />
<WcaLoader OnWcaLoaded="WcaLoadedHandler" />

@code {
    private WcaHeader wcaHeader;
    private PBList pbList;

    private async Task WcaLoadedHandler(string wcaId)
    {
        await wcaHeader.GetWcaInfoAsync();
        await pbList.GetPersonalBestsAsync();
    }
}