<nav class="navbar navbar-expand navbar-dark bg-dark mb-4">
  <NavLink class="navbar-brand ps-3" href="" Match="NavLinkMatch.All" title="TimeCalc">
      <img src="icon-512-alpha-70.png" style="width: 30px; height: 30px;">
  </NavLink>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <NavLink class="nav-link" href="pbs">
            PBs
        </NavLink>          
      </li>
      <li class="nav-item">
        <NavLink class="nav-link" href="rounds">
            Rounds
        </NavLink>
      </li>
      <li class="nav-item">
        <NavLink class="nav-link" href="clear">
            Clear
        </NavLink>
      </li>
    </ul>
    <div class="navbar-nav">
      <div class="nav-item">
        <NavLink class="nav-link" href="info">
          ?
        </NavLink>
      </div>
    </div>
  </div>
</nav>
