@page "/info"

<h4 class="page-header">Info</h4>

<div>
    <p>TimeCalc is optimized for mobile use.</p>
    <p>Once loaded, TimeCalc works disconnected from the internet (though you 
       won't be able to load PBs from WCA). All of the data entered is
       stored on your device. <NavLink href="clear">Clear</NavLink> your data.</p>
    <p>TimeCalc is maintained on <a href="https://github.com/michaelrp/TimeCalc" target="_blank">GitHub</a>.</p>
</div>