@page "/info"

<h4 class="page-header">Info</h4>

<div>
    <ul>
        <li>TimeCalc is optimized for mobile use, but it will work in any browser.</li>
        <li>Once loaded, TimeCalc will work disconnected from the internet (though you won't be able to load PBs from WCA).</li>
        <li>All of the data entered in TimeCalc is stored on your device.</li>
        <li>TimeCalc is maintained on <a href="https://github.com/michaelrp/TimeCalc" target="_blank">GitHub</a>.</li>
    </ul>
</div>
