@page "/pbs"
@using TimeCalc.Components.PBs
@inject ILocalStorage Store

<h4 class="page-header">Personal Bests</h4>

<WcaHeader @bind-WcaInfo="wcaInfo" />
<PBList @bind-PersonalBests="personalBests" />
<WcaLoader OnWcaLoaded="WcaLoadedHandler" />

@code {
    private WcaInfo wcaInfo;
    private List<PersonalBest> personalBests;

    protected override async Task OnInitializedAsync()
    {
        await LoadWcaInfo();
    }

    private async Task LoadWcaInfo()
    {
        wcaInfo = await Store.GetWcaInfoAsync();
        personalBests = await Store.GetPersonalBestsAsync();
    }
    private async Task WcaLoadedHandler(string wcaId)
    {
        await LoadWcaInfo();
    }
}