@page "/prs"
@using TimeCalc.Components.PRs
@inject ILocalStorage Store

<h4 class="page-header">Personal Records</h4>

<WcaHeader @bind-WcaInfo="wcaInfo" />
<PRList @bind-PersonalRecords="personalRecords" />
<WcaLoader OnWcaLoaded="WcaLoadedHandler" />

@code {
    private WcaInfo wcaInfo;
    private List<PersonalRecord> personalRecords;

    protected override async Task OnInitializedAsync()
    {
        await LoadWcaInfo();
    }

    private async Task LoadWcaInfo()
    {
        wcaInfo = await Store.GetWcaInfoAsync();
        personalRecords = await Store.GetPersonalRecordsAsync();
    }
    
    private async Task WcaLoadedHandler(string wcaId)
    {
        await LoadWcaInfo();
    }
}